on fs
    mount ext4 /dev/block/mmcblk0p6 /data wait noatime nosuid nodev
    mount ext4 /dev/block/mmcblk0p7 /cache wait noatime nosuid nodev

## Daemon processes to be run by init.
##

service logd /system/bin/logd
    class core
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    seclabel u:r:logd:s0


service console /sbin/sh
    class core
    console
    disabled
    user root
    group root log
    seclabel u:r:root:s0

on property:ro.debuggable=1
    start console
